<ion-content padding class="background">
<ion-row style="height: 37px"></ion-row>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center> <ion-text color="light">
        <h1>Bem vindo!</h1>
      </ion-text>
      </div>
      <div text-center>
      <ion-text color="light"> <h3>O Aplicativo para os seus produtos e profissionais da beleza</h3></ion-text>
    </div>
      <ion-row style="height: 170px"></ion-row>
      <div padding>
        <ion-button color="primary" shape="round" size="default" href="/input" expand="block" fill="solid">Entrar</ion-button>
        <ion-button color="secondary" shape="round" size="defult" href="/aviso" expand="block" fill="solid">Cadastrar</ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>