<ion-content>
    <ion-card>
        <ion-card-header><div class="ion-text-center"><h1>Parabéns!</h1></div></ion-card-header>
        <img src="assets/img/star.jpeg" />
        <ion-card-content><div class="ion-text-center"> Você acaba de se tornar um cliente VIP Le Cosmétique e agora você conta com muitos benefícios, nosso aplicativo é novo porém repleto de recursos e estaremos sempre trazendo novidades para você e esperamos que você nos dê seu feedback para assim melhorar ainda mais. Clientes ganham 10% de desconto.</div> </ion-card-content>
    </ion-card>
</ion-content>
