<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" size="small" href="login"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title><ion-text class="montserrat" color="primary"><h1><b>Le Cosmétique</b></h1></ion-text></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-row style="height: 70px"></ion-row>
    <ion-item lines="none" class="ion-text-center"><div class="ion-text-center"><ion-col class="ion-padding">Insira seu e-mail e senha para fazer seu login</ion-col></div></ion-item>
    <ion-row style="height: 100px"></ion-row>
    <ion-item><ion-input color="primary" type="email" placeholder="Email"></ion-input></ion-item>
    <ion-item><ion-input color="primary" type="password" placeholder="Senha"></ion-input></ion-item>
    <ion-row style="height: 100px"></ion-row>
  <ion-button color="secondary"  shape="round" size="default" expand="block" fill="solid">Continuar</ion-button>
  <ion-col><ion-item lines="none" text-center href="/recuperar">
        <ion-label>ESQUECI MINHA SENHA</ion-label>
    </ion-item>
    </ion-col>
</ion-content>
